.card {
  display: flex;
  flex-direction: column;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  width: 200px;
}

.card__image {
  height: 134px;
  width: 160px;
  margin: 0 auto 40px;
}

.card__name {
  margin: 0 0 4px;
}

.card__code {
  margin: 0 0 16px;
}

.card__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.card__review {
  margin: 0;
}

.card__review--text_small,
.card__code--text_small {
  font-size: 10px;
  font-weight: var(--font-weight-less);
  line-height: 14px;
  color: var(--color-text-light-grey);
}

.card__name--text_medium {
  font-size: var(--font-size-medium);
  font-weight: 500;
  line-height: var(--line-height-text-medium);
  color: #060b35;
}

.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 166px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--color-button-blue);

  font-size: 14px;
  font-weight: var(--font-weight-big);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.card__buy:hover {
  border: 1px solid var(--color-button-blue);
  background-color: #fff;
  color: var(--color-button-blue);
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__text {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-text-medium);
  font-weight: var(--font-weight-less);
  color: var(--color-text-light-grey);
}

.card__amount--text_large {
  font-size: 16px;
  font-weight: var(--font-weight-big);
  line-height: var(--line-height-text-medium);
  color: #060b35;
}
